WEEK 10: DATA MANIPULATION WITH PANDAS
1. 3 Fundamental Pandas: Series, DataFrame, dan Index

In [147]:
import pandas as pd
import numpy as np
pd.__version__
print(dir(pd))

['ArrowDtype', 'BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt8Dtype', '__all__', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_built_with_meson', '_config', '_is_numpy_dev', '_libs', '_pandas_datetime_CAPI', '_pandas_parser_CAPI', '_testing', '_typing', '_version_meson', 'annotations', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'from_dummies', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [148]:
print(dir(pd.Series))

['T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__bool__', '__class__', '__column_consortium_standard__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pandas_priority__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_agg_examples_doc', '_agg_see_also_doc', '_align_for_op', '_align_frame', '_align_series', '_append', '_arith_method', '_as_manager', '_binop', '_can_hold_na', '_check_inplace_and_allows_duplicate_labels', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_result', '_constructor', '_constructor_expanddim', '_constructor_expanddim_from_mgr', '_constructor_from_mgr', '_data', '_deprecate_downcast', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_duplicated', '_find_valid_index', '_flex_method', '_from_mgr', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_cleaned_column_resolvers', '_get_index_resolvers', '_get_label_or_level_values', '_get_numeric_data', '_get_rows_with_mask', '_get_value', '_get_values_tuple', '_get_with', '_getitem_slice', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_cached', '_is_copy', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_is_view_after_cow_rules', '_ixs', '_logical_func', '_logical_method', '_map_values', '_maybe_update_cacher', '_memory_usage', '_metadata', '_min_count_stat_function', '_needs_reindex_multi', '_pad_or_backfill', '_protect_consolidate', '_reduce', '_references', '_reindex_axes', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_single', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_labels', '_set_name', '_set_value', '_set_values', '_set_with', '_set_with_engine', '_shift_with_freq', '_slice', '_stat_function', '_stat_function_ddof', '_take_with_is_copy', '_to_latex_via_styler', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'case_when', 'cat', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dt', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'interpolate', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'list', 'loc', 'lt', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'set_flags', 'shape', 'shift', 'size', 'skew', 'sort_index', 'sort_values', 'sparse', 'squeeze', 'std', 'str', 'struct', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'tolist', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

A. Data Series 
- merupakan object untuk menyimpan data dalam bentuk 1D, namun tetap ditampilkan dalam bentuk table

CREATE DATA SERIES

In [149]:
data = pd.Series([15.0,10,12,25])
print(data)
print(data.values)
print(data.index)
print(data.dtype)
print(data[0:2])
print(data.copy)

0    15.0
1    10.0
2    12.0
3    25.0
dtype: float64
[15. 10. 12. 25.]
RangeIndex(start=0, stop=4, step=1)
float64
0    15.0
1    10.0
dtype: float64
<bound method NDFrame.copy of 0    15.0
1    10.0
2    12.0
3    25.0
dtype: float64>

MEMBUAT OBJECT DATA SERIES DENGAN MEMANIPULASI INDEXING

In [150]:
data = pd.Series([15,10,12,25], index=['sby', 'sda', 'mlg', 'jkt'])
#penamaan index bisa dirubah dan memiliki nama index yang sama
print(data)
print("="*20)
print(data.values[0]) #ambil data di index ke 0
print(data['sby']) #ambil data dengan index bernama sby
print(data.sby) #sama seperti line atasnya

sby    15
sda    10
mlg    12
jkt    25
dtype: int64
====================
15
15
15

MENGUBAH DICTIONARY KE DATA SERIES

In [151]:
#Dictionary identik dengan kurung kurawal
dict1 = {
    'sby' : [15, 10],
    'sda' : [10, 11],
    'mlg' : [12, 13, 14],
    'jkt' : [25, "12"]
}
print(dict1) #dictionary mirip JSON

#dictionary dimasukkan ke pandas
data = pd.Series(dict1)
print(data)
print(data.dtype)

{'sby': [15, 10], 'sda': [10, 11], 'mlg': [12, 13, 14], 'jkt': [25, '12']}
sby        [15, 10]
sda        [10, 11]
mlg    [12, 13, 14]
jkt        [25, 12]
dtype: object
object

In [152]:
data = pd.Series([15,10,12,25], index=['sby', 'sda', 'mlg', 'jkt'])
print(data, "\n")

print("Mengambil data dengan range nama index tertentu")
print(data['sby':'mlg'])

print()
print("Mengambil data dengan range index tertentu")
print(data[0:2])

sby    15
sda    10
mlg    12
jkt    25
dtype: int64

Mengambil data dengan range nama index tertentu
sby    15
sda    10
mlg    12
dtype: int64

Mengambil data dengan range index tertentu
sby    15
sda    10
dtype: int64

B. DATA FRAME
- Mirip Data series namun multidimensi

In [153]:
data = pd.DataFrame([10,15,12,25], columns=['populasi'], index=['sby', 'sda', 'mlg', 'jkt'])
print(data)

     populasi
sby        10
sda        15
mlg        12
jkt        25

In [154]:
data = pd.DataFrame([[10, 1000],[15,750],[12,900],[25, 1500]],
                    columns=['populasi', 'area'], 
                    index=['sby', 'sda', 'mlg', 'jkt'])
print(data)
print(data.iloc[0:3, 0:2]) #col 0 sampai 3 dan row 0 sampai 2

     populasi  area
sby        10  1000
sda        15   750
mlg        12   900
jkt        25  1500
     populasi  area
sby        10  1000
sda        15   750
mlg        12   900

SOAL: tampilkan semua data kota untuk kolom area

In [155]:
print(data.iloc[:, 1:2])

     area
sby  1000
sda   750
mlg   900
jkt  1500

SOAL: buat kolom baru bernama density yang merupakan perbandingan populasi : area
- BUAT KOLOM BARU: list_name['column_name']

In [156]:
data['density'] = data['populasi']/data['area'] #untuk bikin kolom baru langsung assign nama kolomnya
print(data)

     populasi  area   density
sby        10  1000  0.010000
sda        15   750  0.020000
mlg        12   900  0.013333
jkt        25  1500  0.016667

SOAL: Tampilkan data yang areanya kurang dari 800

In [157]:
areaUnder800 = data.area < 800
print(areaUnder800)

sby    False
sda     True
mlg    False
jkt    False
Name: area, dtype: bool

In [158]:
#MENGAMBIL DATA SESUAI FILTER DENGAN OUTPUT TRUE
data_baru = data[areaUnder800]
print(data_baru)

     populasi  area  density
sda        15   750     0.02

SOAL: Tampilkan data yang areanya lebih kecil dari 800 dan lebih besar 600

In [159]:
#kadang logical operator bisa menggunakan and atau &
areaBetween_600_800 = ((data.area < 800) & (data.area > 600))
print(data[areaBetween_600_800])

     populasi  area  density
sda        15   750     0.02

In [160]:
data = pd.DataFrame([[10, 1000],[15,750],[12,900],[25, 1500]],
                    columns=['populasi', 'area'], 
                    index=['sby', 'sda', 'mlg', 'jkt'])

print(data)
print()
print(data.loc['sby' : 'mlg', 'area'])

     populasi  area
sby        10  1000
sda        15   750
mlg        12   900
jkt        25  1500

sby    1000
sda     750
mlg     900
Name: area, dtype: int64

SOAL: 
1. Buat dataframe dari dictionary
2. Buat dataframe dari list 2D
3. Buat dataframe dari 2 data series

In [161]:
#1
dict1 = {
    'nama' : ['adi', 'adi2'],
    'usia' : [10, 12]
}

data_dict1 = pd.DataFrame(dict1, columns=['nama', 'usia'])
print(data_dict1)

   nama  usia
0   adi    10
1  adi2    12

In [162]:
#2
list2d = [['adi1', 10], ['adi2', 12]]
data_list2d = pd.DataFrame(list2d, columns=['nama', 'usia'])
print(data_list2d)

   nama  usia
0  adi1    10
1  adi2    12

In [163]:
#3
series1 = pd.Series([1,2,3,4,5])
series2 = pd.Series(['a', 'b', 'c', 'd', 'e'])
series3 = pd.Series([6,7,8,9,10])

data = pd.DataFrame({
    'A' : series1,
    'B' : series2,
    'C' : series3
})

print(data)

   A  B   C
0  1  a   6
1  2  b   7
2  3  c   8
3  4  d   9
4  5  e  10

C. INDEX

In [164]:
indA = pd.Index([1,3,5,7,9])
indB = pd.Index([2,3,5,7,11])
print(indA.intersection(indB)) #irisan
print(indA.union(indB)) #gabungan
print(indA.difference(indB)) #ada di A tapi tidak ada di B
print(indA.symmetric_difference(indB)) #ada di A atau B tapi tidak irisannya

Index([3, 5, 7], dtype='int64')
Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')
Index([1, 9], dtype='int64')
Index([1, 2, 9, 11], dtype='int64')

In [165]:
data = pd.DataFrame([[10, 1000],[15,750],[12,900],[25, 1500]],
                    columns=['populasi', 'area'], 
                    index=['sby', 'sda', 'mlg', 'jkt'])

print(data)
print(data.loc[['sby', 'jkt', 'mlg'], :]) #ambil index tertentu saja
print(data.loc['sby':'jkt', :]) #ambil index range tertentu saja

     populasi  area
sby        10  1000
sda        15   750
mlg        12   900
jkt        25  1500
     populasi  area
sby        10  1000
jkt        25  1500
mlg        12   900
     populasi  area
sby        10  1000
sda        15   750
mlg        12   900
jkt        25  1500

D. OPERATING ON DATA IN PANDAS

1. UFUNC

In [166]:
R = np.random.RandomState(42)
s1 = pd.Series(R.randint(0,10, size=4))
print(s1)
print(np.average(s1))
print(np.average(s1[0:2]))

0    6
1    3
2    7
3    4
dtype: int32
5.0
4.5

In [167]:
df = pd.DataFrame(R.randint(0, 10, (3,4)), columns=['a','b','c','d'])
print(df)
print(np.log(df))

   a  b  c  d
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4
          a         b         c         d
0  1.791759  2.197225  0.693147  1.791759
1  1.945910  1.386294  1.098612  1.945910
2  1.945910  0.693147  1.609438  1.386294

2. NaN (Not a Number) && NotNull

In [168]:
area = pd.Series(
    {'Alaska': 1723337, 
     'Texas': 695662, 
     'California': 423967}, name='area')

population = pd.Series(
    {'California': 38332521, 
     'Texas': 26448193, 
     'New York': 19651127}, name='population')

data_baru = population/area
print(data_baru)

print()

filter = data_baru.notnull()
print(data_baru[filter])

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

California    90.413926
Texas         38.018740
dtype: float64

In [169]:
A = pd.Series([2,4,6], index=[0,1,2])
B = pd.Series([1,3,5], index=[1,2,3])
print(A.add(B))
print()
print(A.add(B, fill_value=0))

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame([[1, np.nan, 2], [2, np.nan, 5], 
				[np.nan, np.nan, 6]]) 

print(df)
print()
print(df.dropna()) # drop baris yang mengandung NaN
print()
print(df.dropna(axis=0)) #sepanjang kolom ke kanan (outputnya sama seperti df.dropna())
print(df.dropna(axis=1, how='all')) #drop kolom yg semua data kolomnya bernilai NaN
print(df.dropna(axis=1, how='any')) #drop kolom yg mengandung data bernilai NaN

     0   1  2
0  1.0 NaN  2
1  2.0 NaN  5
2  NaN NaN  6

   2
0  2
1  5
2  6

In [171]:
df = pd.DataFrame([
    [np.nan, np.nan, np.nan], 
    [np.nan, 3, 5], 
	[np.nan, 4, 6], 
	[np.nan, 4, 6]]) 

print(df)

    0    1    2
0 NaN  NaN  NaN
1 NaN  3.0  5.0
2 NaN  4.0  6.0
3 NaN  4.0  6.0

SOAL 1: Jika 1 baris semua NaN, maka dihapus

In [172]:
print(df.dropna(axis=0, how='all'))

    0    1    2
1 NaN  3.0  5.0
2 NaN  4.0  6.0
3 NaN  4.0  6.0

SOAL 2: Jika 1 Kolom semua NaN, maka dihapus

In [173]:
print(df.dropna(axis=1, how='all'))

     1    2
0  NaN  NaN
1  3.0  5.0
2  4.0  6.0
3  4.0  6.0

NameError: name 'population' is not defined